body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 20px 10%;
}

.tango-logo-header {
  margin-bottom: 20px;
}

#map-container {
  border: 2px solid #333;
  height: 550px;
  margin: 0 auto 20px;
  overflow: hidden;
  position: relative;
}

#map {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#capture {
  background-color: white;
  border-right: 1px solid #333;
  color: #444;
  font-family: Roboto,Arial,sans-serif;
  height: 100%;
  left: -301px;
  overflow: hidden;
  position: absolute;
  transition: left 0.5s ease;
  width: calc(300px - 2px);
  z-index: 2;
}

#capture.open {
  left: 0;
}

#capture-close {
  color: white;
  cursor: pointer;
  font-size: 18px;
  height: 18px;
  margin-top: -7px;
  position: absolute;
  right: 10px;
  top: 13px;
}

#capture-title {
  background: #D63B30;
  color: white;
  min-height: 16px;
  line-height: 16px;
  padding: 10px;
  padding-right: 30px;
}

#capture-content {
  overflow-wrap: break-word;
  padding: 10px;
  width: calc(100% - 20px);
}

#capture-content > * {
  width: 100%;
}

#capture-content .feature-item {
  font-size: 14px;
  margin-top: 10px;
}

#capture-content .feature-item:first-child {
  margin-top: 0;
}

#capture-content .feature-item-title {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 3px;
}

#capture-content .feature-item > img {
  height: auto;
  max-width: 100%;
}

#toggles-container {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  bottom: 25px;
  color: #444;
  font-size: 14px;
  padding: 10px 18px 10px 10px;
  position: absolute;
  right: 10px;
  z-index: 2;
}

#toggles-container label {
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.legend-item-break {
  padding: 0 5px;
}

.legend-item-break::before {
  content: "-";
}

.legend-item-symbol .square {
  display: inline-block;
  height: 15px;
  width: 15px;
}

.square.blue-square {
  background-color: #00f8;
  border: 1px solid #00ff;
}

.square.red-square {
  background-color: #f008;
  border: 1px solid #f00f;
}

.square.purple-square {
  background-color: #8088;
  border: 1px solid #808f;
}

.square.green-square {
  background-color: #0808;
  border: 1px solid #080f;
}

.square.grey-square {
  background-color: #0008;
  border: 1px solid #000f;
}